---
import Image from "astro/components/Image.astro";
const { title } = Astro.props;
---

<footer class="max-w-xl mx-auto mt-60">
    <p class="text-center">{title}</p>
    <Image
        src="/src/assets/goxe-white.webp"
        alt="Goxe Logo"
        width="150"
        height="150"
        class="mx-auto mt-0 p-0"
    />
    <slot name="footer" />
</footer>
